---
import Layout from '../layouts/Layout.astro';
---

<Layout title="RouteFlix - ¿Quién está viajando?">
    <div class="profile-screen">
        <h1>¿Quién va a explorar hoy?</h1>
        <div class="profiles-container">
            <a href="/catalog" class="profile-card">
                <div class="profile-avatar" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png');"></div>
                <div class="profile-name">Principal</div>
            </a>
            <a href="/catalog" class="profile-card">
                <div class="profile-avatar" style="background-image: url('https://pro2-bar-s3-cdn-cf1.myportfolio.com/dddb0c1b4ab622854dd81280840458d3/98032aebff601c1d993e12a0_rw_600.png?h=ba9a4f61b6f371d1569479c441ce50e5');"></div>
                <div class="profile-name">Aventurero</div>
            </a>
            <a href="/catalog" class="profile-card">
                <div class="profile-avatar" style="background-image: url('https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg');"></div>
                <div class="profile-name">Familia</div>
            </a>
            <a href="/catalog" class="profile-card">
                <div class="profile-avatar" style="background-image: url('https://pro2-bar-s3-cdn-cf1.myportfolio.com/dddb0c1b4ab622854dd81280840458d3/877bfdd391f6fe29b20b224ba64c1fb3_rw_600.png?h=3e33b632fa1d550c6d7a4cb88085fa4b');"></div>
                <div class="profile-name">Relax</div>
            </a>
        </div>
    </div>
</Layout>
