---
---
<header class="hero">
    <div class="hero-content">
        <h1>Descubre tu próxima aventura</h1>
        <p>Explora miles de destinos, rutas y experiencias inolvidables en todo el mundo basándote en lo que otras
            personas aman.</p>

        <div class="search-bar-container">
            <div class="search-input">
                <label>Ubicación</label>
                <input type="text" id="search-location" placeholder="¿Adónde vas?">
            </div>
            <button class="search-btn" id="search-btn"><i class="fa-solid fa-search"></i> Buscar</button>
        </div>
    </div>
</header>
