---
---
<nav id="navbar" class="navbar">
    <a href="/catalog" class="logo">RouteFlix</a>
    <ul class="nav-links">
        <li><a href="javascript:void(0)" data-target="top">Inicio</a></li>
        <li><a href="javascript:void(0)" data-target="destinos-populares">Destinos Populares</a></li>
        <li><a href="javascript:void(0)" data-target="aventuras">Aventuras</a></li>
        <li><a href="javascript:void(0)" data-target="escapadas">Escapadas</a></li>
        <li><a href="javascript:void(0)" data-target="mi-lista">Mi Lista</a></li>
    </ul>
    <div class="nav-actions">
        <!-- Search icon moves user focus to search input in hero -->
        <i class="fa-solid fa-magnifying-glass" id="nav-search-btn" title="Buscar Destinos"></i>
        <i class="fa-regular fa-bell"></i>
        <a href="/" class="user-avatar" title="Cambiar Perfil" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png'); background-size: cover; text-decoration: none; display: block;"></a>
    </div>
</nav>
